<!DOCTYPE html>
<html>
<head>
	<title>Open Pyramid</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/demo.css') }}">
	<link rel="icon" href="#">
</head>
<body>

	<div id="op-canvas-holder"></div>

	<script type="text/javascript" src="{{ url_for('static', filename='javascript/open-pyramid/openpyramid_classes/pyramid.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/open-pyramid/openpyramid_classes/layer.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/open-pyramid/openpyramid.js') }}"></script>

	<script type="text/javascript">
		
		let op = new OpenPyramid({
			canvasHolderID: "op-canvas-holder",
			url: "http://127.0.0.1:5000/slide",
		});

	</script>

</body>
</html>