<!DOCTYPE html>
<html>
<head>
	<title>Open Pyramid</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/demo.css') }}">
	<link rel="icon" href="#">
</head>
<body>

	<script type="text/javascript" src="{{ url_for('static', filename='javascript/p5/p5.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/openpyramid_classes/pyramid.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/openpyramid_classes/layer.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='javascript/openpyramid.js') }}"></script>

</body>
</html>